* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* general for styling for all section tags */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    scroll-snap-align: start;
}

/* container div styling */
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* individual styling for section tags, selected/ identified by IDs/class */
.one {
    background: rgb(12, 208, 243);
}

.two {
    background:rgb(226, 9, 9);
}

.three {
    background:rgb(231, 48, 216);
}

.four {
    background: lawngreen;
}